@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: rgb(241, 0, 113);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header-title {
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 0px;
}

.header-tagline {
    color: rgb(255, 255, 255);
    font-family: 'Courgette', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.panda-gif {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.question {
    color: rgb(0, 0, 0);
    font-family: 'Yesteryear', cursive;
    font-weight: normal;
    /* Yesteryear doesn't support multiple weights */
    font-size: 66px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.description {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    font-size: 16px;
    max-width: 80%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#yes-button, #no-button {
    background-color: rgb(235, 0, 152);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 0 10px;
}

#yes-button:hover, #no-button:hover {
    transform: scale(1.1);
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .header-title {
        font-size: 40px;
        margin-top: 20px;
    }

    .header-tagline {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .container {
        max-width: 90%;
        padding: 15px;
    }

    .question {
        font-size: 40px;
    }

    .description {
        font-size: 14px;
        max-width: 100%;
    }

    .panda-gif {
        max-width: 120px;
    }

    #yes-button, #no-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header-title {
        font-size: 30px;
    }

    .question {
        font-size: 30px;
    }

    .panda-gif {
        max-width: 100px;
    }
}

.copyright{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 11px;
    font-family: 'Courier New';
}