@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

body {
    background-color: rgb(255, 60, 92);
    font-family: Rosemary, cursive;
}

.box-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    max-width: 90%;
    height: auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: rgb(77, 77, 77) 3px 4px 0px;
    padding: 40px;
}

.hello-stranger {
    font-size: 40px;
    text-align: center;
    font-family: 'Mea Culpa';
}

.para-text {
    font-size: 20px;
    text-align: center;
}

.resp-buttons-yes, .resp-buttons-no {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(255, 60, 92);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 4px 4px 0px;
}

.resp-buttons-yes:hover, .resp-buttons-no:hover {
    background-color: rgb(200, 50, 75);
    transform: scale(1.10);
}

#answer-no:hover {
    pointer-events: none;
}

#rose-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
}

.rose {
    position: absolute;
    font-size: 2rem;
    animation: fall 3s linear infinite;
    opacity: 0.8;
}

@keyframes fall {
    0% {
        transform: translateY(-10%) rotate(0deg);
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}

@media (max-width: 768px) {
    .rose {
        font-size: 1.5rem;
    }
}

.footer-text {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @media (max-width: 768px) {
        .footer-text {
            font-size: 12px;
            padding: 10px;
            width: 100%;
        }
    }
}

.project-under-dev {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.navigator-main {
    background-color: rgb(255, 255, 255);
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
}

.nav-button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 15px;
}

.nav-button:hover {
    background-color: rgb(255, 60, 92);
    cursor: pointer;
}

#bg-music {
    display: none;
}